.agents
.next
node_modules
out
build
dist
coverage
.vercel
.turbo

# local environment
.env*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local tooling
.DS_Store
Thumbs.db
.vscode
*.tsbuildinfo